.table-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  .table-header {
    padding-top: 8px;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
  }
}
.edited-table-container {
  //background: #ffffff;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  .table-content {
    overflow-y: auto;
    flex: 1 1 auto;
  }
  .table-footer {
    flex: 0 1;
  }
}
.edited-table {
  th {
    font-weight: bold;
    //background-color: lightcyan;
    color: black;
    //border: 1px solid black !important;
    padding: 0 14px;
    height: 2em !important;
  }
  tbody {
    td {
      white-space: normal;
      height: 2em !important;
    }
  }
}


.mdl-th-padding {
  padding: 0 18px 12px 24px !important;
}

.mdl-data-table td, .mdl-data-table th {
  padding: 0.1em .7em !important;
}
.mdl-data-table td {
  height: auto;
}

.mdl-data-table tbody tr {
  height: auto;
}

.table-container {
  & > h4 {
    padding-left: 20px;
  }
}

.sortable {
  cursor: pointer;
  position: relative !important;
}

.close-coll {
  font-size: 1.4em;
  color: #747474;
  position: absolute;
  top: 0;
  left: 0;
  &:hover {
    font-size: 1.5em;
    color: #742b2b;
  }
}

.textarea-output {
  white-space: pre-line;
}

.tablesaw-bar {
  position: fixed;
  z-index: 1000;
  right: 0;
}

.editing-form {
  padding-right: 10px;
  width: 400px;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-group {
  margin-top: 16px;
  margin-bottom: 16px;
  p {
    font-size: 1.2em;
    margin-bottom: 0;
  }
}

.form-indent {
  padding-left: 15px;
  width: calc(100% - 15px);
}

.mdl-data-table  {
  td, th {
    &:last-of-type {
      padding-right: .7em;
    }
  }
}

.tablesaw-columntoggle-popup {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mdl-textfield__input[type="color"] + .mdl-textfield__label:after {
  background: transparent !important;
}


.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}